@charset "UTF-8";

/*
	Title:   Website Style Sheet - Default for all pages
	Creator: Andrew Pankow

	Designed and originally coded by Andrew Pankow <http://www.andrewpankow.com>
*/


/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*                             Script Formats                             */
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/

.script {
    --font-family         : Arial, Helvetica, sans-serif;
    /* screen */
    --font-size           : 1rem;
    --page-width          : 100%;
    --page-padding        : 2rem;
}
.script.for-print {
    /* paper */
    --font-size           : 14px          !important;
    --page-width          : 8.5in         !important;
    --page-padding        : 1in 0.5in     !important;
}

@media print {
    .controls {
        display               : none      !important;
    }
    .script {
        /* paper */
        --font-size           : 14px      !important;
        --page-width          : 8.5in     !important;
        --page-padding        : 1in 0.5in !important;
        box-shadow            : none      !important;
    }
}

.script, .script * {
    box-sizing            : border-box;
}
.script {
    font-family           : var(--font-family);
    font-size             : var(--font-size);
    width                 : var(--page-width);
    padding               : var(--page-padding);
    margin                : auto;
}
.script.for-print {
    box-shadow            : 0em .5rem 1rem #000;
}
.script ul {
    padding               : 0;
    list-style-type       : none;
}

/*------------------------------------------------------------------------*/
/*                                 Headers                                */
/*------------------------------------------------------------------------*/
.script > header {
    /* grid-area             : script-header; */
}
.script > header > .titles {
    /* grid-area             : script-titles; */
}
.script > header > .titles > h1 {
    /* grid-area             : script-title-main; */
}
.script > header > .titles > h2 {
    /* grid-area             : script-title-sub; */
}
.script > header > .authors {
    /* grid-area             : script-authors; */
}
.script > header > .authors > .dates {
    /* grid-area             : script-author-date; */
}
.script > header > .authors > .dates > p {
    /* grid-area             : script-author-date-text; */
}
.script > header > .authors > .dates > p.original {
    /* grid-area             : script-author-date-original; */
}
.script > header > .authors > .credits {
    /* grid-area             : script-authors-container; */
}
.script > header > .authors > .credits > h3 {
    /* grid-area             : script-authors-credit-category; */
}
.script > header > .authors > .credits > .typed-credits {
    /* grid-area             : script-authors-credits; */
}
.script > header > .authors > .credits > .typed-credits > .typed-credit {
    /* grid-area             : script-authors-credit-container; */
}
.script > header > .authors > .credits > .typed-credits > .typed-credit > .type {
    /* grid-area             : script-authors-credit-type; */
}
.script > header > .authors > .credits > .typed-credits > .typed-credit > .credit-list {
    /* grid-area             : script-authors-credits-list; */
}
.script > header > .authors > .credits > .typed-credits > .typed-credit > .credit-list > li {
    /* grid-area             : script-authors-credit; */
}



/*------------------------------------------------------------------------*/
/*                                  Body                                  */
/*------------------------------------------------------------------------*/
.script > main {
    /* grid-area             : script-body-container; */
}
.script > main > table.body {
    /* grid-area             : script-body; */
}
.script > main > table.body > thead {
    /* grid-area             : script-body-header; */
}
.script > main > table.body > tbody.section {
    /* grid-area             : script-body-section; */
}
.script > main > table.body tr.bit {
    /* grid-area             : script-section-bit; */
}
.script > main > table.body tr.bit.header {
    /* grid-area             : script-bit-header; */
}
.script > main > table.body tr.bit.header p {
    /* grid-area             : script-bit-header-text; */
}
.script > main > table.body tr.bit > .number {
    /* grid-area             : script-bit-number; */
}
.script > main > table.body tr.bit > .number > p {
    /* grid-area             : script-bit-number-text; */
}
.script > main > table.body tr.bit > .scene {
    /* grid-area             : script-bit-scene; */
}
.script > main > table.body tr.bit > .scene > p {
    /* grid-area             : script-bit-scene-text; */
}
.script > main > table.body tr.bit > .cues {
    /* grid-area             : script-bit-cues-container; */
}
.script > main > table.body tr.bit > .cues > .cue {
    /* grid-area             : script-bit-cue; */
}
.script > main > table.body tr.bit > .cues > .cue > .cue-type {
    /* grid-area             : script-cue-type; */
}
.script > main > table.body tr.bit > .cues > .cue > .cue-title {
    /* grid-area             : script-cue-title; */
}
.script > main > table.body tr.bit > .dialogue {
    /* grid-area             : script-bit-dialogue; */
}
.script > main > table.body tr.bit > .dialogue > .sequence-title {
    /* grid-area             : script-dialogue-sequence-title; */
}
.script > main > table.body tr.bit > .dialogue > .character {
    /* grid-area             : script-dialogue-character; */
}
.script > main > table.body tr.bit > .dialogue > .speech {
    /* grid-area             : script-dialogue-speech; */
}
.script > main > table.body tr.bit > .dialogue > .direction {
    /* grid-area             : script-dialogue-direction; */
}
.script > main > table.body tr.bit > .duration {
    /* grid-area             : script-bit-duration */
}
.script > main > table.body tr.bit > .duration > .human {
    /* grid-area             : script-duration-human; */
}
.script > main > table.body tr.bit > .duration > .timestamp {
    /* grid-area             : script-duration-timestamp; */
}


/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*                            Broadcast & Live                            */
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/

.script.broadcast {

    /* screen */
    --font-size           : 1rem;
    --font-family         : Arial, Helvetica, sans-serif;
    --title-font-family   : 'Times New Roman', Times, serif !important;
    --title-size          : calc( 1.50  * var(--font-size) );
    --duration-size       : calc( 0.90  * var(--font-size) );
    --sequence-title-size : calc( 1 * var(--font-size) );
    --cue-title-size      : var(--sequence-title-size);
    --gap-to-body         : 2rem;
    --gap-between-sects   : 1rem;

    --line-spacing        : calc( 0.5  * var(--font-size) );

    --active-bit          : rgba(0,200,255,1);
}

.script.broadcast.for-print {
    /* paper */
    --title-size          : calc( 1.25 * var(--font-size) );
    --sequence-title-size : calc( 1 * var(--font-size) );
    --cue-title-size      : var(--sequence-title-size);
    --duration-size       : calc( 0.90 * var(--font-size) );
    --gap-to-body         : 0.5in;
    --gap-between-sects   : 0.15in;
}

/*------------------------------------------------------------------------*/
/*                                 Headers                                */
/*------------------------------------------------------------------------*/
.script.broadcast > header > .titles {
    font-family           : var(--title-font-family);
    display               : grid;
    grid-template-columns : 1fr 1fr;
    grid-template-areas   : "script-title-sub script-title-main";
    align-items           : end;
}
.script.broadcast > header > .titles > h1 {
    grid-area             : script-title-main;
    font-size             : var(--title-size);
    margin                : 0;
}
.script.broadcast > header > .titles > h2 {
    grid-area             : script-title-sub;
    font-size             : var(--font-size);
    margin                : 0;
}
.script.broadcast > header > .authors {
    display               : grid;
    margin                : var(--line-spacing) auto;
    grid-template-columns : 1fr 1fr;
    grid-template-areas   : "script-author-date script-authors-container";
}
.script.broadcast > header > .authors > .dates {
    grid-area             : script-author-date;
    align-self            : center;
}
.script.broadcast > header > .authors > .dates > p {
    margin                : var(--line-spacing) 0;
}
.script.broadcast > header > .authors > .credits {
    grid-area             : script-authors-container;
    display               : grid;
    grid-template-columns : 1fr 2fr;
}
.script.broadcast > header > .authors > .credits > h3 {
    font-size             : var(--font-size);
    font-weight           : normal;
    margin                : var(--line-spacing) 0;
}
.script.broadcast > header > .authors > .credits > .typed-credits {
    display               : grid;
    align-items           : start;
    grid-template-columns : 1fr 1fr;
    margin                : var(--line-spacing) 0;
    text-align            : right;
}
.script.broadcast > header > .authors > .credits > .typed-credits > .typed-credit {
    display               : grid;
}
.script.broadcast > header > .authors > .credits > .typed-credits > .typed-credit > .type {
    text-decoration       : underline;
    margin-bottom         : var(--line-spacing);
}



/*------------------------------------------------------------------------*/
/*                                  Body                                  */
/*------------------------------------------------------------------------*/
.script.broadcast > main {
    margin-top            : var(--gap-to-body);
}
.script.broadcast > main > table.body {
    width                 : 100%;
}
.script.broadcast > main > table.body > tbody.section {
    border-top            : solid thin black;
    display               : block;
    margin-top            : var(--gap-between-sects);
    padding-top           : 0.15em;
}
.script.broadcast > main > table.body tr.bit {
    display               : grid;
    grid-template-columns : 1fr 5fr 1fr 10fr 2fr;
    grid-template-areas   : "script-bit-number script-bit-cues-container script-bit-word-count script-bit-dialogue script-bit-duration";
    text-align            : left;
    align-items           : start;
}
.script.broadcast.for-print > main > table.body tr.bit {
    grid-template-columns : 5fr 10fr 2fr;
    grid-template-areas   : "script-bit-cues-container script-bit-dialogue script-bit-duration";
}
.script.broadcast > main > table.body tr.bit:not(.header) p {
    margin                : 0;
}
.script.broadcast > main > table.body tr.bit > .number {
    grid-area             : script-bit-number;
}
.script.broadcast.for-print > main > table.body tr.bit > .number {
    display               : none;
}
.script.broadcast > main > table.body tr.bit > .scene {
    display               : none;
}
.script.broadcast > main > table.body tr.bit > .cues {
    grid-area             : script-bit-cues-container;
}
.script.broadcast > main > table.body tr.bit > .cues > .cue {
    display               : grid;
}
.script.broadcast > main > table.body tr.bit > .cues > .cue > .cue-type {
    margin                : 0;
    font-size             : var(--sequence-title-size);
    text-decoration       : underline;
    text-transform        : uppercase;
}
.script.broadcast > main > table.body tr.bit > .cues > .cue > .cue-title::before {
    content               : "\"";
}
.script.broadcast > main > table.body tr.bit > .cues > .cue > .cue-title::after {
    content               : "\"";
}
.script.broadcast > main > table.body tr.bit > .dialogue {
    grid-area             : script-bit-dialogue;
    display               : grid;
    flex-direction        : column;
    text-align            : left;
    height                : 100%;
}
.script.broadcast > main > table.body tr.bit > .dialogue > * {
    display               : flex;
    flex-grow             : 1;
}
.script.broadcast > main > table.body tr.bit > .dialogue > p {
    align-items           : center;
    /* margin-top            : 1rem; */
}
.script.broadcast > main > table.body tr.bit > .dialogue > .sequence-title {
    margin                : 0;
    font-size             : var(--sequence-title-size);
    text-decoration       : underline;
    text-transform        : uppercase;
    margin-bottom         : 2rem;
}
.script.broadcast > main > table.body tr.bit > .dialogue > .character {
    text-transform        : uppercase;
    text-decoration       : underline;
    font-weight           : normal;
}
.script.broadcast > main > table.body tr.bit > .dialogue > .direction {
    text-transform        : lowercase;
    font-style            : italic;
    margin-bottom         : 1rem;
}
.script.broadcast > main > table.body tr.bit > .dialogue > .speech {
    margin-bottom         : 1rem;
}
.script.broadcast > main > table.body tr.bit > .dialogue > .direction::before {
    content               : "(";
}
.script.broadcast > main > table.body tr.bit > .dialogue > .direction::after {
    content               : ")";
}
.script.broadcast > main > table.body tr.bit > .duration {
    grid-area             : script-bit-duration;
    display               : grid;
    flex-direction        : column;
    text-align            : left;
    height                : 100%;
}
.script.broadcast > main > table.body tr.bit:not(.header) .duration p {
    font-size             : var(--duration-size);
}
.script.broadcast > main > table.body tr.bit > .duration > .human {
    font-size             : var(--duration-size);
    align-self            : end;
}
.script.broadcast > main > table.body tr.bit > .duration > .timestamp {
    font-size             : var(--duration-size);
    align-self            : start;
}
.script.broadcast > main > table.body tr.bit > .word-count {
    grid-area             : script-bit-word-count;
    /* justify-self          : end; */
    align-self: center;
}
.script.broadcast.for-print > main > table.body tr.bit > .word-count {
    display               : none;
}


@media print {
    .script.broadcast > main > table.body tr.bit {
        grid-template-columns : 5fr 10fr 2fr;
        grid-template-areas   : "script-bit-cues-container script-bit-dialogue script-bit-duration";
    }
    .script.broadcast > main > table.body tr.bit > .number {
        display               : none;
    }
    .script.broadcast > main > table.body tr.bit > .word-count {
        display               : none;
    }
}


/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*                              Teleprompter                              */
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/

.script.prompter {
    /* screen */
    --page-width          : 100%;
    --page-padding        : 2rem;
    --font-family         : Arial, Helvetica, sans-serif;
    --font-size           : 5rem !important;

    grid-template-columns : 1fr;
    grid-template-rows    : auto auto;
    grid-template-areas   : "script-header"
                            "script-body-container";
}
.script.prompter.for-print {
    /* screen */
    --page-width          : 100%;
    --page-padding        : 1in;
    --font-size           : 14px !important;
}
.script.prompter, .script.prompter * {
    font-size             : var(--font-size);
    font-weight           : normal;
}

/*------------------------------------------------------------------------*/
/*                                 Headers                                */
/*------------------------------------------------------------------------*/
.script.prompter.for-print {

}
.script.prompter > header {
    grid-template-columns : 1fr;
    grid-template-rows    : auto auto;
    grid-template-areas   : "script-titles"
                            "script-authors";
    opacity               : .5;
    margin                : 0;
}
.script.prompter > header * {
    margin                : 0;
}
.script.prompter > header > .titles {
    grid-area             : script-titles;
}
.script.prompter > header > .authors {
    grid-area             : script-authors;
}


/*------------------------------------------------------------------------*/
/*                                  Body                                  */
/*------------------------------------------------------------------------*/
.script.prompter > main > table.body {
    width                 : 100%;
}
.script.prompter > main > table.body tr.bit {
    display               : grid;
    grid-template-columns : 1fr;
    grid-template-rows    : auto auto;
    grid-template-areas   : "script-bit-dialogue"
                            "script-bit-cues-container";
}
.script.prompter > main > table.body tr.bit.header {
    display               : none;
}
.script.prompter > main > table.body tr.bit > .number {
    display               : none;
}
.script.prompter > main > table.body tr.bit > .scene {
    display               : none;
}
.script.prompter > main > table.body tr.bit > .cues {
    grid-area             : script-bit-cues-container;
    display               : grid;
}
.script.prompter > main > table.body tr.bit > .cues > .cue {
    grid-template-columns : 1fr 1fr;
    grid-template-rows    : 1fr;
    grid-template-areas   : "script-cue-type script-cue-title";
    align-items           : center;
    opacity               : .5;
}
.script.prompter > main > table.body tr.bit > .cues > .cue > .cue-type {
    grid-area             : script-cue-type;
}
.script.prompter > main > table.body tr.bit > .cues > .cue > .cue-title {
    grid-area             : script-cue-title;
}
.script.prompter > main > table.body tr.bit > .dialogue {
    grid-area             : script-bit-dialogue;
    display               : grid;
}
.script.prompter > main > table.body tr.bit > .dialogue > .sequence-title {
    display               : none;
}
.script.prompter > main > table.body tr.bit > .dialogue > .character {
    display               : none;
}
.script.prompter > main > table.body tr.bit > .dialogue > .direction {
    text-transform        : lowercase;
    font-style            : italic;
}
.script.prompter > main > table.body tr.bit > .dialogue > .direction::before {
    content               : "<";
}
.script.prompter > main > table.body tr.bit > .dialogue > .direction::after {
    content               : ">";
}
.script.prompter > main > table.body tr.bit > .duration {
    display               : none;
}
.script.prompter > main > table.body tr.bit > .word-count {
    display               : none;
}


/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*                            Film & Television                           */
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/

.script.film {
    --font-family         : 'Courier New', Courier, monospace;
    --title-font-family   : Arial, Helvetica, sans-serif !important;
    --line-spacing        : calc( 0.5  * var(--font-size) );

    --active-bit          : rgba(0,200,255,1);
    
    /* screen */
    --font-size           : 1rem;
    --title-size          : calc( 1.25  * var(--font-size) );
    --duration-size       : calc( 0.90  * var(--font-size) );
    --sequence-title-size : calc( 1 * var(--font-size) );
    --cue-title-size      : var(--sequence-title-size);
    --gap-to-body         : 2rem;
    --gap-between-sects   : 0.5rem;
}

.script.film.for-print {
    /* paper */
    --title-size          : calc( 1.25 * var(--font-size) );
    --sequence-title-size : calc( 1 * var(--font-size) );
    --cue-title-size      : var(--sequence-title-size);
    --duration-size       : calc( 0.90 * var(--font-size) );
    --gap-to-body         : 0.5in;
    --gap-between-sects   : 0.05in;
}






/*------------------------------------------------------------------------*/
/*                                 Headers                                */
/*------------------------------------------------------------------------*/
.script.film > header > .titles {
    text-align            : center;
}
.script.film > header > .titles > h1 {
    margin                : 0 auto;
    font-family           : var(--title-font-family);
}
.script.film > header > .titles > h2 {
    margin                : 0 auto;
    font-family           : var(--title-font-family);
}
.script.film > header > .authors {
    display               : grid;
    margin                : var(--line-spacing) auto;
    grid-template-rows    : auto 1fr;
    grid-template-areas   : "script-author-date" "script-authors-container";
    text-align            : center;
}
.script.film > header > .authors > .dates {
    grid-area             : script-author-date;
    align-self            : center;
}
.script.film > header > .authors > .dates > p {
    margin                : var(--line-spacing) 0;
}
.script.film > header > .authors > .credits {
    grid-area             : script-authors-container;
    display               : grid;
    grid-template-columns : 1fr;
    text-align            : center;
}
.script.film > header > .authors > .credits > h3 {
    margin                : var(--line-spacing) 0;
}
.script.film > header > .authors > .credits > .typed-credits {
    margin                : var(--line-spacing) 0;
    display               : grid;
}
.script.film > header > .authors > .credits > .typed-credits > .typed-credit {
    display               : grid;
    grid-template-columns : 1fr 1fr;
}
.script.film > header > .authors > .credits > .typed-credits > .typed-credit > .type {
    justify-self          : end;
    padding-right         : 0.10in;
}
.script.film > header > .authors > .credits > .typed-credits > .typed-credit > .credit-list {
    justify-self          : start;
    padding-left          : 0.10in;
}
.script.film > header > .authors > .credits > .typed-credits > .typed-credit > .credit-list > li {
    
}



/*------------------------------------------------------------------------*/
/*                                  Body                                  */
/*------------------------------------------------------------------------*/
.script.film > main * {
    font-weight: normal;
    font-size: var(--font-size);
}
.script.film > main > table.body {
    width: 100%;
}
.script.film > main > table.body > thead {
    
}
.script.film > main > table.body > tbody.section {
    
}
.script.film > main > table.body tr.bit {
    display: grid;
    grid-template-columns: 1fr 16fr;
    grid-template-rows: auto;
    grid-auto-flow: column dense;
    grid-template-areas: "script-bit-number script-bit-scene"
                         "script-bit-number script-dialogue-sequence-title"
                         "script-bit-number script-bit-cues-container"
                         "script-bit-number script-bit-dialogue";
}
.script.film.for-print > main > table.body tr.bit {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas  : "script-bit-scene"
                           "script-dialogue-sequence-title"
                           "script-bit-cues-container"
                           "script-bit-dialogue";
}
.script.film > main > table.body tr.bit.header {
    display               : none;
}
.script.film > main > table.body tr.bit > .number {
    grid-area             : script-bit-number;
    grid-column           : 1;
}
.script.film.for-print > main > table.body tr.bit > .number {
    display: none;
}
.script.film > main > table.body tr.bit > .number > p {
    
}
.script.film > main > table.body tr.bit > .scene {
    grid-area             : script-bit-scene;
    /* grid-column           : 2; */
}
.script.film > main > table.body tr.bit > .scene > p {
    
}
.script.film > main > table.body tr.bit > .cues {
    grid-area             : script-bit-cues-container;
    /* grid-column           : 2; */
}
.script.film > main > table.body tr.bit > .cues > .cue {
    display               : flex;
    flex-direction        : row;
    align-items           : center;
    font-weight: normal;
    font-size: var(--font-size);
    /* grid-template-areas   : "script-cue-type script-cue-title"; */
    /* grid-template-columns : auto auto; */
}
.script.film > main > table.body tr.bit > .cues > .cue > .cue-type {
    /* grid-area             : script-cue-type; */
    font-weight: normal;
    font-size: var(--font-size);
}
.script.film > main > table.body tr.bit > .cues > .cue > .cue-title {
    /* grid-area             : script-cue-title; */
    margin-left: 1em;
    font-weight: normal;
    font-size: var(--font-size);
}
.script.film > main > table.body tr.bit > .dialogue {
    grid-area             : script-bit-dialogue;
    width: 50%;
    margin: auto;
    /* grid-column           : 2; */
}
.script.film.for-print > main > table.body tr.bit > .dialogue {
    width: 50%;
    margin: auto;
    /* grid-column           : 2; */
}
.script.film > main > table.body tr.bit > .dialogue > .sequence-title {
    grid-area             : script-dialogue-sequence-title;
    width: 100%;
    margin: auto;
    /* padding: 0 1in 1em 2in; */
    /* grid-column           : 2; */
}
.script.film > main > table.body tr.bit > .dialogue > .character {
    text-align: center;
}
.script.film.for-print > main > table.body tr.bit > .dialogue > .character {
    text-align: left;
    margin-left: 1in;
}
.script.film > main > table.body tr.bit > .dialogue > .speech {

}
.script.film > main > table.body tr.bit > .dialogue > .speech > * {
    width: 100%;
}
.script.film > main > table.body tr.bit > .dialogue > .direction {
    text-transform        : lowercase;
    font-style            : italic;
    margin-bottom         : 1rem;
    /* max-width: 50%; */
    /* margin: auto; */
}
.script.film > main > table.body tr.bit > .dialogue > .direction::before {
    content               : "(";
}
.script.film > main > table.body tr.bit > .dialogue > .direction::after {
    content               : ")";
}
.script.film > main > table.body tr.bit > .duration {
    display               : none;
}
.script.film > main > table.body tr.bit > .duration > .human {
    
}
.script.film > main > table.body tr.bit > .duration > .timestamp {
    
}
.script.film > main > table.body tr.bit > .word-count {
    display               : none;
}

@media print {
    .script.film > main > table.body tr.bit {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas  : "script-bit-scene"
                               "script-dialogue-sequence-title"
                               "script-bit-cues-container"
                               "script-bit-dialogue";
    }
    .script.film > main > table.body tr.bit > .number {
        display               : none;
    }
    .script.film > main > table.body tr.bit > .dialogue > .character {
        text-align: left;
        margin-left: 1in;
    }
}